.center
{
 text-align: center;
 list-style-position: inside;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%
}
@font-family: 'Rubik', sans-serif;
a:link {
    color: plum;
}
a:visited {
    color: green;
}
