@font-face {
    font-family: 'Igra Sans';
    src: local('Igra Sans'), local('IgraSans'), https://kurenedo1105.github.io/igrasans.woff2('Igrasans.woff2') format('woff2'), https://kurenedo1105.github.io/igrasans.woff'Igrasans.woff') format('woff'), https://kurenedo1105.github.io/igrasans.ttf('Igrasans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
