<style>
        body{
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            font: 400px;
            color: white;
            width: 600;
            
        }
    </style>